#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #EEEEEE;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.task-list {
  text-align: left;
  font-size: 64px;
  font-weight: 700;
  color: #000;
}